language: node_js
node_js:
  - "stable"
addons:
    code_climate:
        repo_token: $TEST_ID

install:
  - npm install

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm test
after_success:
  - ./cc-test-reporter after-build --exit-code